1. Manipulación de Datos y Utilidades del Sistema
pandas==2.2.2
numpy==2.0.2
os, shutil

2. Visualización de Datos
matplotlib==3.7.1
seaborn==0.13.1

3. Análisis Estadístico y Series Temporales
statsmodels==0.14.4

4. Machine Learning y Forecasting
skforecast==0.22.0
scikit-learn==1.6.1
joblib==1.5.3
optuna==4.9.0

5. Integración con el Entorno
google-colab